@import (reference) '../../../../node_modules/bootstrap/less/bootstrap.less';

.Modal {
    .modal();

    &-dialog {
        .modal-dialog();
    }

    &-content {
        .modal-content();
    }

    &-header {
        .modal-header();
    }

    &-title {
        .modal-title();
    }

    &-body {
        .modal-body();
    }

    &-footer {
        .modal-footer();
    }

    &-button {
        .btn();
        .btn-default();
    }
}
