@import (reference) '../../../node_modules/bootstrap/less/bootstrap.less';

.Categories {

    &-types {
        .make-row(0);
    }

    &-type {
        .make-sm-column(4, 0);
        .make-md-column(2, 0);
    }
}
