@import (reference) '../../../node_modules/bootstrap/less/bootstrap.less';

.DeliveryType {
    .btn();
    .btn-default();
    .btn-block();

    text-align: center;

    &-icon {
        .glyphicon();
        .glyphicon-asterisk();

        display: block;
        font-size: 48px;
    }
}
