@import (reference) '../../../node_modules/bootstrap/less/bootstrap.less';

.CargoListItem {
    .list-group-item();

    //margin-bottom: 1em;
    //
    //border: 1px solid gray;
    //border-radius: 6px;

    &-properties {
        .dl-horizontal();
    }

    &-edit &-icon {
        .glyphicon();
        .glyphicon-pencil();
    }

    &-remove &-icon {
        .glyphicon();
        .glyphicon-remove();
    }
}
