@import (reference) '../../../node_modules/bootstrap/less/bootstrap.less';

.CargoType {
    .btn();
    .btn-default();

    background-color: red;

    &-icon {
        .glyphicon();
        .glyphicon-asterisk();
    }
}
